// Page: Footer
// -----------------------------------------------------------------------------
.page__footer.nav-item {
  height: 243px;
  display: inline-block;
}

//footer
.footer-text-decor {
  font-size: 14px;
  font-weight: bold;
}
