// Page: Header
// -----------------------------------------------------------------------------
.page__header {

}

.right-position {
  margin: 0 0 0 auto;
}

.nav-link {
  @extend .item-text-decor;
  color: $light-color !important;
}

.pt-5 {
  padding-top: 0 !important;
}

.section-hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center !important;
  padding: 30% 0 50px 0;
  position: relative;
  top: -120px;
}

.header-title {
  padding: 50px 0;
}

